@import url(https://fonts.googleapis.com/css2?family=VT323&display=swap);

:root {
    --accent: #60EA0E;

    --fg: white;
    --bg: #000107;

    --background: radial-gradient(circle at bottom, var(--bg), var(--accent) 1500%);

    --panel-bg: color-mix(in srgb, var(--bg) 70%, transparent);
    
    --font: 'VT323', 'Courier New', monospace;
    --font-size: 16px;

    --corners: 2px;
    --soft-outline: 1px solid color-mix(in srgb, var(--fg) 50%, transparent);

    --clone-size: 200px;
}

::selection {
    background-color:color-mix(in srgb, var(--accent), transparent);
}

body {
    margin: 0;
    height: 100dvh;
    overflow: hidden;

    background: var(--background);
    color: var(--fg);
    font-family: var(--font);
    font-size: var(--font-size);
}

a {
    color: var(--accent)!important;
    text-decoration: none;
}

a:hover {
    text-transform: uppercase;
}

img {
    user-select: none;
}

button, input {
    font: inherit;
    background: none;
    padding: 1ex 1em;
    border: none;
    color: inherit;
    outline: var(--soft-outline);
    outline-offset: -2px;
    background: var(--panel-bg);
}

button:hover {
    color: var(--accent);
    outline-color: var(--accent);
}

#container {
    padding: 2em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* a frame is like -- one layer that yeah thing yeah. ok. */
.frame {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;

    height: 100dvh;
    width: 100dvw;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;

    pointer-events: none;
}

.frame > * {
    pointer-events: all;
}

/* a window sits in a frame. */
.window {
    padding: 1em;
    box-sizing: border-box;
    outline: var(--soft-outline);
    outline-offset: -2px;
    border-radius: var(--corners);
    background: var(--panel-bg);
}


.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2em;
}

#stats {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    margin-left: auto;

    opacity: 0.75;
}

#toolbar {
    margin-top: auto;
    min-width: 60%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: space-between;
    gap: 1em;
    padding: 2em 3em;
}

#credits {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;

    opacity: 0.5;
}

#toolbar button {
    font-size: 1.5rem;
}


/* specific buttons */
#spawn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1ex;
}

#spawn::before {
    content: "";
    background-image: url("/coomer.png");
    background-size: 1em 1em;
    height: 1em;
    width: 1em;
}

#spawn:hover::before {
    filter: drop-shadow(0 0 5px var(--accent));
}

#kill {
    font-size: 1em!important;
}

/* funny iamges */
.clone, .explosion {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;

    translate: -50% -50%;
}

.clone {
    width: var(--clone-size);
    
    filter: drop-shadow(0 0 15px var(--accent));
}

.explosion {
    width: 100px;
}

/* mobile styling */
@media (max-width: 960px) {
}
